/*Minimal Normalize*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/*Basic Tags*/
header{
    width: 1408px;
    height: 727px;
}
.tophome{
    background-image: url("../img/home/home-bg-intro.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.topsobre{
    background-image: url("../img/sobre/bg-sobre.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.topservicos{
    background-image: url("../img/servicos/bg-servicos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.topcontato{
    background-image: url("../img/contato/bg-contato.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*Menu Content*/
.navbar-brand, .navbar{
    font-size: 18px;
}
.col-md-8, .col-md-12{
    padding: 37px;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(17, 153, 158, 0.5);
    top: 128px;
    height: 242px;
    font-size: 40px;
}
.col-lg-12{
    font-size: 14px;
}
.sextext{
    font-size: 38px;
}
.btn{
    color: white;
    border: 3px solid white;
    padding: 12px 13px 11px 14px;
}

/*Body content*/

div.card-img-overlay{
    padding: 15px 20px;
}
p {
    padding: 16px;
}
h2.card-title{
    margin-top: 22%;
    padding: 13px 78px 12px 62px;
    font-size: 18px;
    font-weight: bold;
}
.boxcenter1{
    margin-top: 80px;
}
.boxcenter2{
    font-size: 24px;
    margin-top: 16px;
}

h2{
    background-color: rgba(255, 255, 255, 0.7);
    margin: -5px;
}
.mdtext{
    margin-top: 75px;
    padding-bottom: 64px;
    background-color: #E4F9F5;
}
.mdtext h3{
    font-size: 24px;
    margin-top: 16px;
}
/*footer*/
footer{
    background-image: url("../img/home/bg-footer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1366px;
    height: 464px;
}
.info{
    color: white;
    margin-top: 64px;
    margin-left: 140px;
}
.itemh{
    font-size: 34px;
    border-bottom: 4px solid white;
}
.itemt{
    font-size: 18px;

}
.finfo{
    font-size: 18px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 19px;
}
.social{
    margin-top: 32px;
}
.sociall{
    background-color: #30E3CA;
    margin: 16px;
    padding: 15px;
    border-radius: 50%;
}
.msg{
    color: white;
    margin-top: 64px;
    margin-left: 140px;
}