/*Minimal Normalize*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/*Top Tags*/
.tophome{
    background-image: url("../img/home/home-bg-intro.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 727px;
}
.topsobre{
    background-image: url("../img/sobre/bg-sobre.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 727px;
}
.topservicos{
    background-image: url("../img/servicos/bg-servicos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 727px;
}
.topcontato{
    background-image: url("../img/contato/bg-contato.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 727px;
}

/*Menu Content*/
.menu{
    padding-top: 64px;
}

a.nav-link{
    color: #fff;
    text-shadow: 2px 2px black;
}
a.nav-link:hover{
    color: gray;
}
.bkcenter{
    margin-top: 64px;
}
.bgcenter{
    background-color: rgba(17, 153, 158, 0.5);
    padding: 36px;
}

/*Universal Classes*/
.txt18{
    font-size: 18px;
}
.txt16{
    font-size: 16px;
}
.txt24{
    font-size: 24px;
    font-weight: 600
}
.txt32{
    font-size: 32px;
    font-weight: initial;
}
.txt34{
    font-size: 34px;
    border-bottom:3px solid white ;
}
.txt40{
    font-size: 40px;
    font-weight: 600;
    color: white;
}
.btnwb{
    margin-top: 32px;
}
.btn-wt{
    text-decoration: none;
    font-size: 16px;
    border: 3px solid #fff;
    color: #fff; 
    padding: 5px 15px;
}
.btn-wt:hover {
    text-decoration: none;
    background: #fff;
    color: #40514E;
    transition: 0.20s ease-in;
}
.btnbb{
    padding: 20px;
}
.btn-bt{
    text-decoration: none;
    font-size: 16px;
    border: 3px solid #40514E;
    color: #40514E; 
    padding: 5px 15px;
}
.btn-bt:hover {
    text-decoration: none;
    background: #40514E;
    color: #fff;
    transition: 0.20s ease-in;
}
.orf{
    margin-top: 32px;
}
.highlight1{
    width: 1366px;
    margin-top: 64px;
    background-color: #E4F9F5;
}

/*Body home*/
.boxcenter1{
    margin-top: 80px;
}

.card-title{
    color: #40514E;
    font-weight: bold;
    font-size: 18px;
    padding: 8px;
    margin-left: -5px;
    margin-right: -5px;
    margin-top: 25%;
    background-color: rgba(255, 255, 255, .7);
    
}

.boxcenter2{
    font-size: 24px;
    margin-top: 16px;
    padding-bottom: 64px;
}
.boxcenter3{
    font-size: 16px;
    padding-bottom: 64px;
    background-color: #E4F9F5;
    background-size: cover;
}
.prjimg{
    padding: 32px 15px 64px 15px;
}
.prjtx{
    padding-top: 16px;
}
.boxcenter2 h3{
    font-size: 24px;
}
.boxcenter2 p{
    font-size: 16px;
}


.quoteimg{
    background-image: url("../img/sobre/sobre-blockquote.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 1366px;
    height: 464px;
}
blockquote.qt{
    font-size: 40px;
}
p.col-12{
    top: 111px;
    color: white;
}

/*footer*/
footer{
    background-image: url("../img/home/bg-footer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    width: 1366px;
    height: 464px;
}
.ftend{
    padding-top: 64px;
}
.ftsocial{
    width: 256px;
    height: 82px;
}

.ftimg{
    background-color: rgba(48, 227, 203, 0.7);
    padding: 18px;
    margin: 8px;
    border-radius: 50%;
}
.logomk{
    background-color: #E4F9F5;
}
.logomktx{
    border: 1px solid #707070;
    padding: 18px;
}